/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
/* Logo and Text Styles */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
}

.logo-container .saras-text {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    animation: shine 1.5s infinite;
    position: relative;
}

/* Shining Effect */
@keyframes shine {
    0% {
        text-shadow: 0 0 10px rgba(151, 6, 255, 0.8);
    }
    10% {
        text-shadow: 0 0 15px rgba(151, 6, 255, 0.9);
    }
    20% {
        text-shadow: 0 0 20px rgba(151, 6, 255, 1);
    }
    30% {
        text-shadow: 0 0 25px rgba(151, 6, 255, 1);
    }
    40% {
        text-shadow: 0 0 30px rgba(151, 6, 255, 1);
    }
    50% {
        text-shadow: 0 0 30px rgba(151, 6, 255, 1);
    }
    60% {
        text-shadow: 0 0 25px rgba(151, 6, 255, 1);
    }
    70% {
        text-shadow: 0 0 20px rgba(151, 6, 255, 1);
    }
    80% {
        text-shadow: 0 0 15px rgba(151, 6, 255, 0.9);
    }
    90% {
        text-shadow: 0 0 10px rgba(151, 6, 255, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(145, 0, 248, 0.9);
    }
}

.container {
    max-height: 400px; /* Set a max height for scrollability */
    overflow-y: auto; /* Enable vertical scrolling */
    color: #000;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode .video h3 {
    color: #fff; /* White text color for headings and video titles */
}

h1, h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #6a0dad; /* Purple color */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #4b0082; /* Darker purple */
}

#results {
    margin-top: 20px;
    width: 100%;
}

section {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.video {
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.video h3 {
    margin: 0 0 5px;
}

.video p {
    margin: 0;
}

body.dark-mode #moodLanguageSection {
    background-color: #1c1c1c;
    color: #fff;
}

body.dark-mode #recommendationsSection {
    background-color: #1c1c1c;
}

#moodLanguageSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75,0,130, 0.8);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

#recommendationsSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75,0,130, 0.8);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Add X to close sidebar */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a, .sidebar ul li button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000000bf;
    color: #fff;
}

body.dark-mode nav {
    background-color: #000;
}

body.dark-mode section {
    background-color: #333;
    color: #fff;
}

body.dark-mode .video {
    background-color: #333;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4B0082;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Loading Animation */
#loadingAnimation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.bike {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}
.bike__front {
	animation-name: bikeFront;
}
.bike__handlebars {
	animation-name: bikeHandlebars;
}
.bike__pedals {
	animation-name: bikePedals;
}
.bike__pedals-spin {
	animation-name: bikePedalsSpin;
}
.bike__seat {
	animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
	stroke: currentColor;
}
.bike__spokes {
	animation-name: bikeSpokes;
}
.bike__spokes-spin {
	animation-name: bikeSpokesSpin;
}
.bike__tire {
	animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .sidebar {
        display: flex;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    #moodLanguageSection,
    #recommendationsSection {
        max-width: 90%;
        padding: 15px;
    }

    button, select {
        font-size: 14px;
    }
}
